[Unit]
Description="Movelinks" files on boot
After=network-online.target

[Service]
ExecStart=/usr/local/sbin/movelink
Type=oneshot

[Install]
WantedBy=k3s.service